*{
    margin: 0;
    padding: 0;
}

body{
    background: #E5E5E5;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.main-page{
    display: flex;
    position: absolute;
    width: 620px;
    height: 636px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background: #FFFFFF;
    border-radius: 20px;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

/*Formatação IMG*/
.img{
    position: absolute;
    width: 250px;
    height: 150px;
    left: 170px;
    top: 30px;
}

h1{
    position: absolute;
    width: 755px;
    height: 24px;
    left: 190px;
    top: 200px;

    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 20px;

}

.form-name label, .form-email label, .form-phone label, .form-password label, .form-birthday label{
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    margin-left: 5px;
    
    /* identical to box height, or 114% */

    display: flex;
    align-items: flex-end;
    justify-content: flex-start;


    /* Text / Subtle */

    color: #767676;
}

#form-FullName{
    width: 530px;
    height: 35px;
    justify-content: flex-start;
    /* Surface */
    background: #FFFFFF;
    /* Border / Subtle */
    border: 2px solid #AAAAAA;
    box-sizing: border-box;
    border-radius: 4px;
    color: #767676;
}

#formPhone, #form-Birthday{
    width: 200px;
    height: 35px;
    justify-content: flex-start;
    /* Surface */
    background: #FFFFFF;
    /* Border / Subtle */
    border: 2px solid #AAAAAA;
    box-sizing: border-box;
    border-radius: 4px;
    color: #767676;
}

#form-Email, #form-Password{
    width: 300px;
    height: 35px;
    justify-content: flex-start;
    /* Surface */
    background: #FFFFFF;
    /* Border / Subtle */
    border: 2px solid #AAAAAA;
    box-sizing: border-box;
    border-radius: 4px;
    color: #767676;
}

#form-FullName::placeholder, #form-Email::placeholder, #formPhone::placeholder{
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    padding-left: 10px;
    color: #767676;
}

.form-name{
    position: absolute;
    left: 45px;
    right: 0px;
    top: 250px;
}
.form-email{
    position: absolute;
    left: 45px;
    top: 340px;
}

.form-phone{
    position: absolute;
    left: 375px;
    top: 340px;
}

.form-password{
    position: absolute;
    left: 45px;
    top: 430px;
}

.form-birthday{
    position: absolute;
    left: 375px;
    top: 430px;
}

.form-checkbox{
    position: absolute;
    left: 75px;
    top: 540px;

    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #111111;

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 8px;
}

/*modificação do checkbox*/
.form-checkbox input{
    position: absolute;
    opacity: 0;
}

.check{
    left: -20px;
    top: 0;
    width: 15px;
    height: 15px;
    background: #ccc;
    position: absolute;
    border-radius: 3px;
    box-shadow: 0 3px 6px #888;
}

.form-checkbox input:checked ~ .check{
    background-color: #0DBDBD;
}

.form-checkbox .check::after{
    left: 5px;
    width: 3px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.check::after{
    content: "";
    position: absolute;
    display: none;
}

.form-checkbox input:checked ~ .check::after{
    display: block;
}

button{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 12px;

    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: white;

    position: absolute;
    height: 40px;
    left: 450px;
    top: 540px;
    background: #0DBDBD;
    border: none;
    border-radius: 10px;
    cursor: pointer; /*trocar pela mãozinha*/
}

p{
    margin-left: 5px;
    margin-top: 10px;
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1px;
    color: red;
}

/*Olho de mostrar senha*/
#visiblity-toggle{
    position: absolute;
    color: grey;
    cursor: pointer;
    margin-left:-30px;
    margin-top: 9px;
    font-size: 18px;
}
